swagger: '2.0'
info:
  version: 4.0.0
  title: Synerise Platform
  description: Synerise Platform Documentation
  license:
    name: proprietary
host: api.synerise.com
basePath: /v4
tags:
  - name: overview
    description: >
      Welcome to Synerise API reference! We hope that you'll enjoy your stay
      here.

      If you need help with our services, feel free to contact us:

      - [support@synerise.com](mailto:support@synerise.com)


      For Synerise's Postman collection, visit:

      - [Synerise postman
      collection](./assets/SyneriseAPI.postman_collection.json)


      Remember that every API call needs to have some headers defined:


      | Header Name    | Header Value     |

      |----------------|------------------|

      | Accept         | application/json |

      | Content-Type   | application/json |

      | Api-Version:   | 4.0              |
    x-traitTag: true
  - name: API areas
    description: >
      We have following groups of endpoints that you can use:


      | API area | Description |

      |----------|-------------|

      | [Authorization](#tag/authorization)  | Used for logging in and account
      management |

      | [Client](#tag/client)  | Used for creating, updating and finding clients
      |

      | [Events](#tag/events)  | Used for finding events and creating custom
      ones |

      | [Transactions](#tag/transactions)  | Used for creating, updating and
      finding transactions |
  - name: Synerise SDK
    description: >
      Our SDK enables integration of Synerise with your app. This constantly
      updated tool is dedicated to mobile platforms and back-end environments.
      Use Synerise SDK and feel free to use available documentation, headers for
      certain programming languages, example source codes.


      | SDK | GitHub |

      |----------|-------------|

      | Android SDK  | [View on GitHub](https://github.com/Synerise/android-sdk)
      |

      | iOS SDK | [View on GitHub](https://github.com/Synerise/ios-sdk) |

      | PHP SDK  | [View on GitHub](https://github.com/Synerise/PHP-SDK) |

      | Java SDK  | [View on GitHub](https://github.com/Synerise/java-sdk) |

      | Magento SDK/Plugin  | [View on
      GitHub](https://github.com/Synerise/Plugin-Magento) |

      | JS SDK  | [View on GitHub](https://github.com/Synerise/javascript-sdk) |

      | Python SDK  | Working on... |

      | Ruby on Rails SDK  | Working on... |
  - name: authorization
    description: >
      The Synerise Platform uses [JWT](https://jwt.io/) as an authorization
      method in order to simplify the API consumption

      process. The idea is very simple: you send your credentials to the login
      endpoint and it returns you a token. Then you

      have to pass it as an `Authorization` header to any subsequent request,
      just like here: `Authorization: Bearer: [token]`.

      It is valid for 1 hour only, but it does not mean, that you cannot use our
      API any longer - if you want to

      prolongate the session, you just request the refresh endpoint and a new
      token is given to you.


      Synerise distinguishes three different types of API consumers:

      - *Client* is the end user of your site. The one who browses your pages,
      makes purchases and uses mobile applications.
        That person is able to register an account, update it's data and e.g. redeem a coupon, so some endpoints require
        a login process here, especially when using the mobile application. A client is only able to modify his own data.
      - *User* is the end user of Synerise. The one who logs in to
      https://app.synerise.com/ It might be you, or some of
        your coworkers. Because a large part of user activitites could be automated using our API, a separate login mechanism
        is required here.
      - *Profile*
        We call a Business Profile our relationship with a particular company or organisation. Some of the operations which
        could be done with Synerise don't fit very well to the previous categories, like e.g. sending batches of client information
        or transactions. In general you use the Profile authorization if the operation you're about to execute doesn't have
        a particular physical person (a User or Client) bound to it.

      In order to log-in you have to use an API key. These keys could be
      created, managed and revoked on demand using

      the [Synerise Application](https://app.synerise.com/api/). They could not
      be used for different login methods,

      and could have even stricter limitations for specific purposes. More
      information about those keys could be found

      in our [Knowledge Base](https://synerise.com/knowledge-base/).
  - name: client
    description: >
      One of the most important areas of Synerise is Client management. We call
      a Client a human being,

      who does some actions on your website or mobile app. Because people tend
      to use many different devices and not

      always log in from the same location, some nifty data merging strategy is
      required. This merging process is one of

      our core domain areas - we try to connect many different profiles, which
      could have been created for a single

      person and we do it by performing sophisticated event analysis.


      Because of this fact, the unique identification of the client in Synerise
      is not that simple, and isn't really a

      good foundation for a REST API.


      We admit, though, that it is often very important to send us client data
      in a programmatical manner. In order to do

      so, we expect from you to send at least one of most important client
      determinants - email address, phone number,

      your internal identifier of the client, or our numeric identifier. We also
      accept

      [uuids](https://en.wikipedia.org/wiki/Universally_unique_identifier) for
      information regarding anonymous clients,

      e.g. those who have used some of your website's features without
      identifying themselves.


      > In order to retrieve and manipulate client data in Synerise, you have to
      log in as a business profile and use

      > an [Api Key](https://app.synerise.com/api/), which has a `Client` or
      `Client account management`(check scopes description for details) scope
      assigned.
  - name: events
    description: >
      Events allow you to track your clients' activities and are extremely
      helpful in the management process.

      Each event contains name, precise date when the event took place, and
      sometimes additional data.

      By using and checking events, you can get various useful information about
      your customers.


      For instance, you can check if the client opened your mail, made a
      purchase or left a cart.

      Events can be also used in automation process, e.g. you can automatically
      send an SMS to the customer that entered your shop.

      Use this powerful component to improve your knowledge about customers and
      provide them better services.


      [Live Stream](https://app.synerise.com/panel/) shows you events of all
      your clients in real time.

      You can also check specified client's events, by visiting
      [CRM](https://app.synerise.com/crm/list) and clicking on the chosen
      customer.


      > In order to create and manage events in Synerise, you have to log in as
      a business profile and use

      > an [Api Key](https://app.synerise.com/api/), which has an `Event` scope
      assigned.
  - name: transactions
    description: >
      Synerise allows you to track clients' transactions. Each transaction
      yields you a lot of information, e.g.

      about a client that made a purchase, list of purchased products with
      detailed description,

      value and revenue of the transaction, and last but not least - discount
      data.


      Visit [Commerce](https://app.synerise.com/dashboard/transactions) section
      to check your sales data,

      presented not only in absolute figures, but also in the form of
      easy-to-read charts.


      > In order to create and manage transactions in Synerise, you have to log
      in as a business profile and use

      > an [Api Key](https://app.synerise.com/api/), which has a `Transaction`
      scope assigned.
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /auth/login/client:
    post:
      tags:
        - authorization
      summary: Client login
      description: >
        Log in a client in order to obtain the JWT token, which could be used in
        subsequent requests.

        The token is valid for 1 hour. If you want to use our API longer, you
        have to request a new one

        by requesting the [Client token
        refresh](#operation/authRefreshClientGet) endpoint before this time runs
        out.
      operationId: authLoginClientPost
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: ClientAuthenticationRequest
          required: true
          schema:
            $ref: '#/definitions/Authorization.ClientAuthenticationRequest'
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Authorization.AuthenticationResponse'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: "curl --request POST \\\n  --url https://api.synerise.com/v4/auth/login/client \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'Api-Version: 4.0' \\\n  --data '{\\n\t\"apiKey\":\"2711d1a7-1469-44e3-baf6-dd78490a0376\",\\n\t\"email\": \"john.smith@example.com\",\\n\t\"password\": \"top_secret_pass\"\\n}'\n"
        - lang: PHP
          source: "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.synerise.com/v4/auth/login/client');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json',\n  'Api-Version' => '4.0'\n));\n\n$request->setBody('{\n\t\"apiKey\": \"2711d1a7-1469-44e3-baf6-dd78490a0376\",\n\t\"email\": \"john.smith@example.com\",\n\t\"password\": \"top_secret_pass\"\n}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}\n"
        - lang: Java
          source: >
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType, "{\n\t\"apiKey\":
            \"2711d1a7-1469-44e3-baf6-dd78490a0376\",\n\t\"email\":
            \"john.smith@example.com\",\n\t\"password\":
            \"top_secret_pass\"\n}");

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/auth/login/client")
              .post(body)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("Api-Version", "4.0")
              .build();

            Response response = client.newCall(request).execute();
  /auth/login/profile:
    post:
      tags:
        - authorization
      summary: Profile login
      description: >
        Log in a profile in order to obtain the JWT token, which could be used
        in subsequent requests.

        The token is valid for 1 hour. If you want to use our API longer, you
        have to request a new one

        by requesting the [Profile token
        refresh](#operation/authRefreshProfileGet) endpoint before this time
        runs out.
      operationId: authLoginProfilePost
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: ProfileAuthenticationRequest
          required: true
          schema:
            $ref: '#/definitions/Authorization.ProfileAuthenticationRequest'
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Authorization.AuthenticationResponse'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: "curl --request POST \\\n  --url https://api.synerise.com/v4/auth/login/profile \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'Api-Version: 4.0' \\\n  --data '{\\n\t\"apiKey\":\"2711d1a7-1469-44e3-baf6-dd78490a0376\"\\n}'\n"
        - lang: PHP
          source: >
            <?php


            $request = new HttpRequest();

            $request->setUrl('https://api.synerise.com/v4/auth/login/profile');

            $request->setMethod(HTTP_METH_POST);


            $request->setHeaders(array(
              'Content-Type' => 'application/json',
              'Accept' => 'application/json',
              'Api-Version' => '4.0'
            ));


            $request->setBody('{"apiKey":
            "2711d1a7-1469-44e3-baf6-dd78490a0376"}');


            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: >
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType, "{\n\t\"apiKey\":
            \"2711d1a7-1469-44e3-baf6-dd78490a0376\"\n}");

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/auth/login/profile")
              .post(body)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("Api-Version", "4.0")
              .build();

            Response response = client.newCall(request).execute();
  /auth/login/user:
    post:
      tags:
        - authorization
      summary: User login
      description: >
        Log in a user in order to obtain the JWT token, which could be used in
        subsequent requests.

        The token is valid for 1 hour. If you want to use our API longer, you
        have to request a new one

        by requesting the [User token refresh](#operation/authRefreshUserGet)
        endpoint before this time runs out.
      operationId: authLoginUserPost
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: UserAuthenticationRequest
          required: true
          schema:
            $ref: '#/definitions/Authorization.UserAuthenticationRequest'
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Authorization.AuthenticationResponse'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: "curl --request POST \\\n  --url https://api.synerise.com/v4/auth/login/user \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'Api-Version: 4.0' \\\n  --data '{\\n\t\"apiKey\":\"2711d1a7-1469-44e3-baf6-dd78490a0376\",\\n\t\"username\": \"john.smith@example.com\",\\n\t\"password\": \"top_secret_pass\"\\n}'\n"
        - lang: PHP
          source: |
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://api.synerise.com/v4/auth/login/user');
            $request->setMethod(HTTP_METH_POST);

            $request->setHeaders(array(
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
              'Api-Version' => '4.0'
            ));

            $request->setBody('{
              "apiKey": "2711d1a7-1469-44e3-baf6-dd78490a0376",
              "username": "john.smith@example.com",
              "password": "top_secret_pass"
            }');

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: >
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType, "{\n\t\"apiKey\":
            \"2711d1a7-1469-44e3-baf6-dd78490a0376\",\n\t\"username\":
            \"john.smith@example.com\",\n\t\"password\":
            \"top_secret_pass\"\n}");

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/auth/login/user")
              .post(body)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("Api-Version", "4.0")
              .build();

            Response response = client.newCall(request).execute();
  /auth/refresh/user:
    get:
      tags:
        - authorization
      summary: User token refresh
      description: |
        Retrieves a refreshed JWT token in order to prolongate the user session.
      operationId: authRefreshUserGet
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: 'JWT token (prepended by the `Bearer: ` string)'
          required: true
          type: string
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Authorization.AuthenticationResponse'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error403'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: |
            curl --request GET \
              --url https://api.synerise.com/v4/auth/refresh/user \
              --header 'Accept: application/json' \
              --header 'Authorization: Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ' \
              --header 'Content-Type: application/json' \
              --header 'Api-Version: 4.0'
        - lang: PHP
          source: |
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://api.synerise.com/v4/auth/refresh/user');
            $request->setMethod(HTTP_METH_GET);

            $request->setHeaders(array(
              'Authorization' => 'Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
              'Api-Version' => '4.0'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: |
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/auth/refresh/user")
              .get()
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("Authorization", "Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ")
              .addHeader("Api-Version", "4.0")
              .build();

            Response response = client.newCall(request).execute();
  /auth/refresh/profile:
    get:
      tags:
        - authorization
      summary: Profile token refresh
      description: >
        Retrieves a refreshed JWT token in order to prolongate the profile
        session.
      operationId: authRefreshProfileGet
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: 'JWT token (prepended by the `Bearer: ` string)'
          required: true
          type: string
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Authorization.AuthenticationResponse'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error403'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: |
            curl --request GET \
              --url https://api.synerise.com/v4/auth/refresh/profile \
              --header 'Accept: application/json' \
              --header 'Authorization: Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ' \
              --header 'Content-Type: application/json' \
              --header 'Api-Version: 4.0'
        - lang: PHP
          source: >
            <?php


            $request = new HttpRequest();

            $request->setUrl('https://api.synerise.com/v4/auth/refresh/profile');

            $request->setMethod(HTTP_METH_GET);


            $request->setHeaders(array(
              'Authorization' => 'Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json',
              'Api-Version' => '4.0'
            ));


            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: |
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/auth/refresh/profile")
              .get()
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("Authorization", "Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ")
              .addHeader("Api-Version", "4.0")
              .build();

            Response response = client.newCall(request).execute();
  /auth/refresh/client:
    get:
      tags:
        - authorization
      summary: Client token refresh
      description: >
        Retrieves a refreshed JWT token in order to prolongate the client
        session.
      operationId: authRefreshClientGet
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: 'JWT token (prepended by the `Bearer: ` string)'
          required: true
          type: string
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Authorization.AuthenticationResponse'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error403'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: |
            curl --request GET \
              --url https://api.synerise.com/v4/auth/refresh/client \
              --header 'Accept: application/json' \
              --header 'Authorization: Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ' \
              --header 'Content-Type: application/json' \
              --header 'Api-Version: 4.0'
        - lang: PHP
          source: |
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://api.synerise.com/v4/auth/refresh/client');
            $request->setMethod(HTTP_METH_GET);

            $request->setHeaders(array(
              'Authorization' => 'Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
              'Api-Version' => '4.0'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: |
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/auth/refresh/client")
              .get()
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("Authorization", "Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ")
              .addHeader("Api-Version", "4.0")
              .build();

            Response response = client.newCall(request).execute();
  /transactions/batch:
    post:
      tags:
        - transactions
      summary: Batch add/update
      description: >
        Enqueue a list of batch operations to execute. Every changeset has to be
        compatible with [Update
        transaction](#operation/endpointTransactionIdPost).

        If you don't have a value for a field - don't send it at all, because
        sending `null` may remove existing value.


        >Note that every monetary value must be in the same currency. It also
        must be greater or equal to zero. "discountAmount" is an exception, if
        it is present, it must be greater than zero.
      operationId: endpointTransactionBatchPost
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: transactionList
          description: List of transactions
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/Transactions.TransactionData'
        - name: Authorization
          in: header
          description: 'JWT token (prepended by the `Bearer: ` string)'
          required: true
          type: string
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '202':
          description: Accepted
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error403'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: |
            curl --request POST \
              --url https://api.synerise.com/v4/transactions/batch \
              --header 'Accept: application/json' \
              --header 'Api-Version: 4.0' \
              --header 'Authorization: Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ' \
              --header 'Content-Type: application/json' \
              --data '[\n  {\n  "client": {\n "clientId": 0\n },\n "discountAmount": {\n "amount": 0,\n "currency": "string"\n },\n "orderId": "string",\n "orderStatus": "string",\n "paymentInfo": {},\n "products": [\n {\n "finalUnitPrice": {\n "amount": 0,\n "currency": "string"\n },\n "name": "string",\n "netUnitPrice": {\n "amount": 0,\n "currency": "string"\n },\n "quantity": 0,\n "regularPrice": {\n "amount": 0,\n "currency": "string"\n },\n "sku": "string",\n "tax": 0\n }\n ],\n "recordedAt": "2017-07-26T12:43:31Z",\n "revenue": {\n "amount": 0,\n "currency": "string"\n },\n "source": "UNDEFINED",\n "value": {\n "amount": 0,\n "currency": "string"\n }\n}\n]'
        - lang: PHP
          source: |
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://api.synerise.com/v4/transactions/batch');
            $request->setMethod(HTTP_METH_POST);

            $request->setHeaders(array(
              'Authorization' => 'Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ',
              'Api-Version' => '4.0',
              'Aontent-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            $request->setBody('[
              {
              "client": {
                "clientId": 0
              },
              "discountAmount": {
                "amount": 0,
                "currency": "string"
              },
              "orderId": "string",
              "orderStatus": "string",
              "paymentInfo": {},
              "products": [
                {
                  "finalUnitPrice": {
                    "amount": 0,
                    "currency": "string"
                  },
                  "name": "string",
                  "netUnitPrice": {
                    "amount": 0,
                    "currency": "string"
                  },
                  "quantity": 0,
                  "regularPrice": {
                    "amount": 0,
                    "currency": "string"
                  },
                  "sku": "string",
                  "tax": 0
                }
              ],
              "recordedAt": "2017-07-26T12:43:31Z",
              "revenue": {
                "amount": 0,
                "currency": "string"
              },
              "source": "UNDEFINED",
              "value": {
                "amount": 0,
                "currency": "string"
              }
            }
            ]');

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: >
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType, "[\n {\n
            \"client\": {\n \"clientId\": 0\n },\n \"discountAmount\": {\n
            \"amount\": 0,\n \"currency\": \"string\"\n },\n \"orderId\":
            \"string\",\n \"orderStatus\": \"string\",\n \"paymentInfo\": {},\n
            \"products\": [\n {\n \"finalUnitPrice\": {\n \"amount\": 0,\n
            \"currency\": \"string\"\n },\n \"name\": \"string\",\n
            \"netUnitPrice\": {\n \"amount\": 0,\n \"currency\": \"string\"\n
            },\n \"quantity\": 0,\n \"regularPrice\": {\n \"amount\": 0,\n
            \"currency\": \"string\"\n },\n \"sku\": \"string\",\n \"tax\": 0\n
            }\n ],\n \"recordedAt\": \"2017-07-26T12:43:31Z\",\n \"revenue\":
            {\n \"amount\": 0,\n \"currency\": \"string\"\n },\n \"source\":
            \"UNDEFINED\",\n \"value\": {\n \"amount\": 0,\n \"currency\":
            \"string\"\n }\n}\n]");

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/transactions/batch")
              .post(body)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("Api-Version", "4.0")
              .addHeader("Authorization", "Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ")
              .build();

            Response response = client.newCall(request).execute();
  '/transactions/by-client/{id}':
    get:
      tags:
        - transactions
      summary: Get client transactions
      description: |
        Find transactions associated with client with a certain ID.
      operationId: endpointTransactionsByClientGet
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          description: Client ID
          type: integer
          format: int64
        - name: 'time[from]'
          in: query
          description: >-
            Return only transactions that occurred later than given time. If
            provided, should be earlier than `time[to]`.
          required: false
          type: string
          format: date-time
        - name: 'time[to]'
          in: query
          description: >-
            Return only transactions that occurred earlier than given time. If
            provided, should be later than `time[from]`.
          required: false
          type: string
          format: date-time
        - name: limit
          in: query
          description: How many transactions should be returned.
          required: false
          type: integer
          default: 10
          minimum: 1
          maximum: 100
          format: int32
        - name: Authorization
          in: header
          description: 'JWT token (prepended by the `Bearer: ` string)'
          required: true
          type: string
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Transactions.TransactionListingResponse'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: |
            curl --request GET \
              --url https://api.synerise.com/v4/transactions/by-client/241839194 \
              --header 'Accept: application/json' \
              --header 'Api-Version: 4.0' \
              --header 'Authorization: Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ' \
              --header 'Content-Type: application/json'
        - lang: PHP
          source: >
            <?php


            $request = new HttpRequest();

            $request->setUrl('https://api.synerise.com/v4/transactions/by-client/241839194');

            $request->setMethod(HTTP_METH_GET);


            $request->setHeaders(array(
              'Accept' => 'application/json',
              'Content-Type' => 'application/json',
              'Authorization' => 'Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ',
              'Api-Version' => '4.0'
            ));


            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: |
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/transactions/by-client/241839194")
              .get()
              .addHeader("Api-Version", "4.0")
              .addHeader("Authorization", "Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ")
              .addHeader("Content-Type", "application/json")
              .addHeader("Accept", "application/json")
              .build();

            Response response = client.newCall(request).execute();
  '/transactions/by-email/{email}':
    get:
      tags:
        - transactions
      summary: Find transactions by email
      description: |
        Find transactions associated with client with a certain email.
      operationId: endpointTransactionsByEmailGet
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: email
          in: path
          description: Client email
          required: true
          type: string
        - name: 'time[from]'
          in: query
          description: >-
            Return only transactions that occurred later than given time. If
            provided, should be earlier than `time[to]`.
          required: false
          type: string
          format: date-time
        - name: 'time[to]'
          in: query
          description: >-
            Return only transactions that occurred earlier than given time. If
            provided, should be later than `time[from]`.
          required: false
          type: string
          format: date-time
        - name: limit
          in: query
          description: How many transactions should be returned.
          required: false
          type: integer
          default: 10
          minimum: 1
          maximum: 100
          format: int32
        - name: Authorization
          in: header
          description: 'JWT token (prepended by the `Bearer: ` string)'
          required: true
          type: string
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Transactions.TransactionListingResponse'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: |
            curl --request GET \
              --url 'https://api.synerise.com/v4/transactions/by-email/someEmail@example.com' \
              --header 'Accept: application/json' \
              --header 'Api-Version: 4.0' \
              --header 'Authorization: Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ' \
              --header 'Content-Type: application/json'
        - lang: PHP
          source: >
            <?php


            $request = new HttpRequest();

            $request->setUrl('https://api.synerise.com/v4/transactions/by-email/someEmail@example.com');

            $request->setMethod(HTTP_METH_GET);


            $request->setHeaders(array(
              'Authorization' => 'Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ',
              'Api-Version' => '4.0',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));


            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: |
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/transactions/by-email/someEmail@example.com")
              .get()
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("Api-Version", "4.0")
              .addHeader("Authorization", "Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ")
              .build();

            Response response = client.newCall(request).execute();
  /transactions/cancelled/batch:
    post:
      tags:
        - transactions
      summary: Batch add/update cancelled transactions
      description: >
        Enqueue a list of batch operations to execute. Every changeset has to be
        compatible with [Update
        transaction](#operation/endpointTransactionIdPost).

        If you don't have a value for a field - don't send it at all, because
        sending `null` may remove existing value.


        >Note that every monetary value must be in the same currency. It also
        must be greater or equal to zero. "discountAmount" is an exception, if
        it is present, it must be greater than zero.
      operationId: endpointCancelTransactionBatchPost
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: transactionList
          description: List of transactions
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/Transactions.TransactionData'
        - name: Authorization
          in: header
          description: 'JWT token (prepended by the `Bearer: ` string)'
          required: true
          type: string
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '202':
          description: Accepted
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error403'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: |
            curl --request POST \
              --url https://api.synerise.com/v4/transactions/cancelled/batch \
              --header 'Accept: application/json' \
              --header 'Api-Version: 4.0' \
              --header 'Authorization: Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ' \
              --header 'Content-Type: application/json' \
              --data '[\n  {\n  "client": {\n "clientId": 0\n },\n "discountAmount": {\n "amount": 0,\n "currency": "string"\n },\n "orderId": "string",\n "orderStatus": "string",\n "paymentInfo": {},\n "products": [\n {\n "finalUnitPrice": {\n "amount": 0,\n "currency": "string"\n },\n "name": "string",\n "netUnitPrice": {\n "amount": 0,\n "currency": "string"\n },\n "quantity": 0,\n "regularPrice": {\n "amount": 0,\n "currency": "string"\n },\n "sku": "string",\n "tax": 0\n }\n ],\n "recordedAt": "2017-07-26T12:43:31Z",\n "revenue": {\n "amount": 0,\n "currency": "string"\n },\n "source": "UNDEFINED",\n "value": {\n "amount": 0,\n "currency": "string"\n }\n}\n]'
        - lang: PHP
          source: >
            <?php


            $request = new HttpRequest();

            $request->setUrl('https://api.synerise.com/v4/transactions/cancelled/batch');

            $request->setMethod(HTTP_METH_POST);


            $request->setHeaders(array(
              'Authorization' => 'Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ',
              'Api-Version' => '4.0',
              'Aontent-Type' => 'application/json',
              'Accept' => 'application/json'
            ));


            $request->setBody('[
              {
              "client": {
                "clientId": 0
              },
              "discountAmount": {
                "amount": 0,
                "currency": "string"
              },
              "orderId": "string",
              "orderStatus": "string",
              "paymentInfo": {},
              "products": [
                {
                  "finalUnitPrice": {
                    "amount": 0,
                    "currency": "string"
                  },
                  "name": "string",
                  "netUnitPrice": {
                    "amount": 0,
                    "currency": "string"
                  },
                  "quantity": 0,
                  "regularPrice": {
                    "amount": 0,
                    "currency": "string"
                  },
                  "sku": "string",
                  "tax": 0
                }
              ],
              "recordedAt": "2017-07-26T12:43:31Z",
              "revenue": {
                "amount": 0,
                "currency": "string"
              },
              "source": "UNDEFINED",
              "value": {
                "amount": 0,
                "currency": "string"
              }
            }

            ]');


            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: >
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType, "[\n {\n
            \"client\": {\n \"clientId\": 0\n },\n \"discountAmount\": {\n
            \"amount\": 0,\n \"currency\": \"string\"\n },\n \"orderId\":
            \"string\",\n \"orderStatus\": \"string\",\n \"paymentInfo\": {},\n
            \"products\": [\n {\n \"finalUnitPrice\": {\n \"amount\": 0,\n
            \"currency\": \"string\"\n },\n \"name\": \"string\",\n
            \"netUnitPrice\": {\n \"amount\": 0,\n \"currency\": \"string\"\n
            },\n \"quantity\": 0,\n \"regularPrice\": {\n \"amount\": 0,\n
            \"currency\": \"string\"\n },\n \"sku\": \"string\",\n \"tax\": 0\n
            }\n ],\n \"recordedAt\": \"2017-07-26T12:43:31Z\",\n \"revenue\":
            {\n \"amount\": 0,\n \"currency\": \"string\"\n },\n \"source\":
            \"UNDEFINED\",\n \"value\": {\n \"amount\": 0,\n \"currency\":
            \"string\"\n }\n}\n]");

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/transactions/cancelled/batch")
              .post(body)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("Api-Version", "4.0")
              .addHeader("Authorization", "Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ")
              .build();

            Response response = client.newCall(request).execute();
  /transactions/cancelled:
    post:
      tags:
        - transactions
      summary: Post cancelled transaction
      description: >
        Post already cancelled transaction.


        >Note that every monetary value must be in the same currency. It also
        must be greater or equal to zero. "discountAmount" is an exception, if
        it is present, it must be greater than zero.
      operationId: endpointCancelTransactionPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: transactionData
          description: Transaction data
          required: true
          schema:
            $ref: '#/definitions/Transactions.TransactionData'
        - name: Authorization
          in: header
          description: 'JWT token (prepended by the `Bearer: ` string)'
          required: true
          type: string
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '202':
          description: Accepted
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error403'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error404'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: |
            curl --request POST \
              --url https://api.synerise.com/v4/transactions/cancelled \
              --header 'Accept: application/json' \
              --header 'Api-Version: 4.0' \
              --header 'Authorization: Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ' \
              --header 'Content-Type: application/json' \
              --data '{\n  "client": {\n "clientId": 241839194\n  },\n  "discountAmount": {\n "amount": 0,\n "currency": "PLN"\n  },\n  "orderId": "someId",\n  "orderStatus": "status",\n  "paymentInfo": {},\n  "products": [\n {\n "finalUnitPrice": {\n "amount": 100,\n "currency": "PLN"\n },\n "name": "string",\n "netUnitPrice": {\n "amount": 100,\n  "currency": "PLN"\n },\n "quantity": 1,\n "regularPrice": {\n "amount": 100,\n "currency": "PLN"\n },\n "sku": "",\n "tax": 23\n }\n  ],\n  "recordedAt": "2017-07-26T12:43:31Z",\n  "revenue": {\n "amount": 100,\n "currency": "PLN"\n  },\n  "source": "WEB_DESKTOP",\n  "value": {\n "amount": 100,\n "currency": "PLN"\n  }\n}'
        - lang: PHP
          source: >
            <?php


            $request = new HttpRequest();

            $request->setUrl('https://api.synerise.com/v4/transactions/cancelled');

            $request->setMethod(HTTP_METH_POST);


            $request->setHeaders(array(
              'Authorization' => 'Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ',
              'Api-Version' => '4.0',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));


            $request->setBody('{
              "client": {
                "clientId": 241839194
              },
              "discountAmount": {
                "amount": 0,
                "currency": "PLN"
              },
              "orderId": "someId",
              "orderStatus": "status",
              "paymentInfo": {},
              "products": [
                {
                  "finalUnitPrice": {
                    "amount": 100,
                    "currency": "PLN"
                  },
                  "name": "product name",
                  "netUnitPrice": {
                    "amount": 100,
                    "currency": "PLN"
                  },
                  "quantity": 1,
                  "regularPrice": {
                    "amount": 100,
                    "currency": "PLN"
                  },
                  "sku": "sku",
                  "tax": 23
                }
              ],
              "recordedAt": "2017-07-26T12:43:31Z",
              "revenue": {
                "amount": 100,
                "currency": "PLN"
              },
              "source": "WEB_DESKTOP",
              "value": {
                "amount": 0,
                "currency": "PLN"
              }
            }');


            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: >
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType, "{\n \"client\":
            {\n \"clientId\": 241839194\n },\n \"discountAmount\": {\n
            \"amount\": 0,\n \"currency\": \"PLN\"\n },\n \"orderId\":
            \"someId\",\n \"orderStatus\": \"status\",\n \"paymentInfo\": {},\n
            \"products\": [\n {\n \"finalUnitPrice\": {\n \"amount\": 100,\n
            \"currency\": \"PLN\"\n },\n \"name\": \"product name\",\n
            \"netUnitPrice\": {\n \"amount\": 100,\n \"currency\": \"PLN\"\n
            },\n \"quantity\": 1,\n \"regularPrice\": {\n \"amount\": 100,\n
            \"currency\": \"PLN\"\n },\n \"sku\": \"sku\",\n \"tax\": 23\n }\n
            ],\n \"recordedAt\": \"2017-07-26T12:43:31Z\",\n \"revenue\": {\n
            \"amount\": 100,\n \"currency\": \"PLN\"\n },\n \"source\":
            \"WEB_DESKTOP\",\n \"value\": {\n \"amount\": 0,\n \"currency\":
            \"PLN\"\n  }\n}");

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/transactions/cancelled")
              .post(body)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("Api-Version", "4.0")
              .addHeader("Authorization", "Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ")
              .build();

            Response response = client.newCall(request).execute();
  '/transactions/{id}':
    post:
      tags:
        - transactions
      summary: Update transaction
      description: >
        Update transaction data by ID. If you don't have a value for a field -
        don't send it at all, because sending `null` may remove existing value.


        >Note that every monetary value must be in the same currency. It also
        must be greater or equal to zero. "discountAmount" is an exception, if
        it is present, it must be greater than zero.
      operationId: endpointTransactionIdPost
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          description: Transaction ID
          type: string
        - in: body
          name: transactionData
          description: Transaction data
          required: true
          schema:
            $ref: '#/definitions/Transactions.TransactionData'
        - name: Authorization
          in: header
          description: 'JWT token (prepended by the `Bearer: ` string)'
          required: true
          type: string
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '202':
          description: Accepted
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error403'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error404'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: |
            curl --request POST \
              --url https://api.synerise.com/v4/transactions/%7Bid%7D \
              --header 'Accept: application/json' \
              --header 'Api-Version: 4.0' \
              --header 'Authorization: Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ' \
              --header 'Content-Type: application/json' \
              --data ' {\n "products": [\n {\n "finalUnitPrice": {\n "amount": 0,\n "currency": "string"\n },\n"name": "string",\n "netUnitPrice": {\n "amount": 0,\n "currency": "string"\n },\n "quantity": 0,\n "regularPrice": {\n "amount": 0,\n "currency": "string"\n },\n "sku": "string",\n "tax": 0\n }\n ]\n}'
        - lang: PHP
          source: >
            <?php


            $request = new HttpRequest();

            $request->setUrl('https://api.synerise.com/v4/transactions/%7Bid%7D');

            $request->setMethod(HTTP_METH_POST);


            $request->setHeaders(array(
              'Authorization' => 'Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ',
              'Api-Version' => '4.0',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));


            $request->setBody(' {
              "products": [
                {
                  "finalUnitPrice": {
                    "amount": 0,
                    "currency": "string"
                  },
                  "name": "string",
                  "netUnitPrice": {
                    "amount": 0,
                    "currency": "string"
                  },
                  "quantity": 0,
                  "regularPrice": {
                    "amount": 0,
                    "currency": "string"
                  },
                  "sku": "string",
                  "tax": 0
                }
              ]
            }');


            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: >
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType, " {\n \"products\":
            [\n {\n \"finalUnitPrice\": {\n \"amount\": 0,\n \"currency\":
            \"string\"\n },\n \"name\": \"string\",\n \"netUnitPrice\": {\n
            \"amount\": 0,\n \"currency\": \"string\"\n },\n \"quantity\": 0,\n
            \"regularPrice\": {\n \"amount\": 0,\n \"currency\": \"string\"\n
            },\n \"sku\": \"string\",\n \"tax\": 0\n }\n ]\n}");

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/transactions/%7Bid%7D")
              .post(body)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("Api-Version", "4.0")
              .addHeader("Authorization", "Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ")
              .build();

            Response response = client.newCall(request).execute();
  /transactions:
    get:
      tags:
        - transactions
      summary: Get transactions
      description: |
        Get all transactions.
      operationId: endpointTransactionsGet
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: 'time[from]'
          in: query
          description: >-
            Return only transactions that occurred later than given time. If
            provided, should be earlier than `time[to]`.
          required: false
          type: string
          format: date-time
        - name: 'time[to]'
          in: query
          description: >-
            Return only transactions that occurred earlier than given time. If
            provided, should be later than `time[from]`.
          required: false
          type: string
          format: date-time
        - name: limit
          in: query
          description: How many transactions should be returned.
          required: false
          type: integer
          default: 10
          minimum: 1
          maximum: 100
          format: int32
        - name: Authorization
          in: header
          description: 'JWT token (prepended by the `Bearer: ` string)'
          required: true
          type: string
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Transactions.TransactionListingResponse'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: |
            curl --request GET \
              --url https://api.synerise.com/v4/transactions \
              --header 'Accept: application/json' \
              --header 'Api-Version: 4.0' \
              --header 'Authorization: Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ' \
              --header 'Content-Type: application/json'
        - lang: PHP
          source: |
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://api.synerise.com/v4/transactions');
            $request->setMethod(HTTP_METH_GET);

            $request->setHeaders(array(
              'Authorization' => 'Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ',
              'Api-Version' => '4.0',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: |
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/transactions")
              .get()
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("Api-Version", "4.0")
              .addHeader("Authorization", "Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ")
              .build();

            Response response = client.newCall(request).execute();
    post:
      tags:
        - transactions
      summary: Create transaction
      description: >
        Create a new transaction.


        >Note that every monetary value must be in the same currency. It also
        must be greater or equal to zero. "discountAmount" is an exception, if
        it is present, it must be greater than zero.
      operationId: endpointTransactionPost
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: transactionData
          description: Transaction data
          required: true
          schema:
            $ref: '#/definitions/Transactions.TransactionData'
        - name: Authorization
          in: header
          description: 'JWT token (prepended by the `Bearer: ` string)'
          required: true
          type: string
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '202':
          description: Accepted
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error403'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: |
            curl --request POST \
              --url https://api.synerise.com/v4/transactions \
              --header 'Accept: application/json' \
              --header 'Api-Version: 4.0' \
              --header 'Authorization: Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ' \
              --header 'Content-Type: application/json' \
              --data '{\n  "client": {\n "clientId": 241839194\n },\n "discountAmount": {\n "amount": 0,\n "currency": "PLN"\n },\n "orderId": "orderId",\n "orderStatus": "status",\n "paymentInfo": {},\n "products": [\n {\n "finalUnitPrice": {\n "amount": 1,\n "currency": "PLN"\n },\n "name": "product name",\n "netUnitPrice": {\n "amount": 100,\n "currency": "PLN"\n },\n "quantity": 1,\n  "regularPrice": {\n "amount": 100,\n "currency": "PLN"\n },\n "sku": "sku",\n "tax": 23\n }\n ],\n "recordedAt": "2017-07-26T12:43:31Z",\n "revenue": {\n "amount": 100,\n "currency": "PLN"\n },\n "source": "WEB_DESKTOP",\n "value": {\n "amount": 100,\n "currency": "PLN"\n }\n}'
        - lang: PHP
          source: |
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://api.synerise.com/v4/transactions');
            $request->setMethod(HTTP_METH_POST);

            $request->setHeaders(array(
              'Authorization' => 'Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ',
              'Api-Version' => '4.0',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            $request->setBody('{
              "client": {
                "clientId": 241839194
              },
              "discountAmount": {
                "amount": 0,
                "currency": "PLN"
              },
              "orderId": "orderId",
              "orderStatus": "status",
              "paymentInfo": {},
              "products": [
                {
                  "finalUnitPrice": {
                    "amount": 1,
                    "currency": "PLN"
                  },
                  "name": "product name",
                  "netUnitPrice": {
                    "amount": 100,
                    "currency": "PLN"
                  },
                  "quantity": 1,
                  "regularPrice": {
                    "amount": 100,
                    "currency": "PLN"
                  },
                  "sku": "sku",
                  "tax": 23
                }
              ],
              "recordedAt": "2017-07-26T12:43:31Z",
              "revenue": {
                "amount": 100,
                "currency": "PLN"
              },
              "source": "WEB_DESKTOP",
              "value": {
                "amount": 100,
                "currency": "PLN"
              }
            }');

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: >
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType, "{\n \"client\":
            {\n \"clientId\": 241839194\n },\n \"discountAmount\": {\n
            \"amount\": 0,\n \"currency\": \"PLN\"\n },\n \"orderId\":
            \"orderId\",\n \"orderStatus\": \"status\",\n \"paymentInfo\": {},\n
            \"products\": [\n {\n \"finalUnitPrice\": {\n \"amount\": 1,\n
            \"currency\": \"PLN\"\n },\n \"name\": \"product name\",\n
            \"netUnitPrice\": {\n \"amount\": 100,\n \"currency\": \"PLN\"\n
            },\n \"quantity\": 1,\n \"regularPrice\": {\n \"amount\": 100,\n
            \"currency\": \"PLN\"\n },\n \"sku\": \"sku\",\n \"tax\": 23\n }\n
            ],\n \"recordedAt\": \"2017-07-26T12:43:31Z\",\n \"revenue\": {\n
            \"amount\": 100,\n \"currency\": \"PLN\"\n },\n \"source\":
            \"WEB_DESKTOP\",\n \"value\": {\n  \"amount\": 100,\n \"currency\":
            \"PLN\"\n }\n}");

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/transactions")
              .post(body)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("Api-Version", "4.0")
              .addHeader("Authorization", "Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ")
              .build();

            Response response = client.newCall(request).execute();
  /my-account/transactions:
    get:
      tags:
        - client
      summary: Get transactions list
      description: |
        Use this, to allow clients to check their transactions.
      operationId: endpointClientTransactionsGet
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: 'time[from]'
          in: query
          description: 'time[from]'
          required: false
          type: string
          format: date-time
        - name: 'time[to]'
          in: query
          description: 'time[to]'
          required: false
          type: string
          format: date-time
        - name: limit
          in: query
          description: limit
          required: false
          type: integer
          default: 10
          format: int32
        - name: Authorization
          in: header
          description: 'JWT token (prepended by the `Bearer: ` string)'
          required: true
          type: string
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Transactions.TransactionListingResponse'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: |
            curl --request GET \
              --url https://api.synerise.com/v4/my-account/transactions \
              --header 'Accept: application/json' \
              --header 'Api-Version: 4.0' \
              --header 'Authorization: Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ' \
              --header 'Content-Type: application/json'
        - lang: PHP
          source: >
            <?php


            $request = new HttpRequest();

            $request->setUrl('https://api.synerise.com/v4/my-account/transactions');

            $request->setMethod(HTTP_METH_GET);


            $request->setHeaders(array(
              'Authorization' => 'Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ',
              'Api-Version' => '4.0',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));


            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: |
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/my-account/transactions")
              .get()
              .addHeader("A ccept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("Api-Version", "4.0")
              .addHeader("Authorization", "Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ")
              .build();

            Response response = client.newCall(request).execute();
  /clients/batch:
    post:
      tags:
        - client
      summary: Batch add/update
      description: >
        Enqueue a list of batch operations to execute. Every changeset has to be
        compatible with [Update client](#operation/endpointClientIdPost).

        If you don't have a value for a field - don't send it at all, because
        sending `null` may remove existing value.
      operationId: endpointClientBatchPost
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: changesetList
          description: List of changesets
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/Client.ClientChangeset'
        - name: Authorization
          in: header
          description: 'JWT token (prepended by the `Bearer: ` string)'
          required: true
          type: string
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '202':
          description: Accepted
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error403'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: "curl --request POST \\\n  --url https://api.synerise.com/v4/clients/batch \\\n  --header 'Accept: application/json' \\\n  --header 'Api-Version: 4.0' \\\n  --header 'Authorization: Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ' \\\n  --header 'Content-Type: application/json' \\\n  --data '[\\n {\\n \"clientId\": 0,\\n \"email\": \"user@example.com\",\\n \"phone\": \"123456789\",\\n\t\"firstName\": \"John\",\\n\t\"lastName\": \"Doe\",\\n \"displayName\": \"John Doe\",\\n \"uuid\": \"68ddc892-4a07-440a-abcb-45040f940253\",\\n \"agreements\": {\\n \"email\": true\\n },\\n \"attributes\": {\\n \"property1\": \"string\"\\n },\\n \"tags\": [\\n \"string\"\\n ]\\n }\\n]'\n"
        - lang: PHP
          source: |
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://api.synerise.com/v4/clients/batch');
            $request->setMethod(HTTP_METH_POST);

            $request->setHeaders(array(
              'Authorization' => 'Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ',
              'Api-Version' => '4.0',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            $request->setBody('[
              {
                "clientId": 0,
                "email": "user@example.com",
                "phone": "string",
                "customId": "string",
                "firstName": "string",
                "lastName": "string",
                "displayName": "string",
                "uuid": "string",
                "avatarUrl": "string",
                "birthDate": "2017-07-11",
                "company": "string",
                "city": "string",
                "address": "string",
                "zipCode": "string",
                "province": "string",
                "countryCode": "string",
                "sex": "NOT_SPECIFIED",
                  "agreements": {
                  "email": true,
                  "sms": true,
                  "push": true,
                  "bluetooth": true,
                  "rfid": true,
                  "wifi": true
                  },
                  "attributes": {
                  "property1": "string",
                  "property2": "string"
                  },
                  "tags": [
                  "string"
                  ]
              }
            ]');

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: >
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "[\n{\n\"clientId\": 0,\n\"email\":
            \"user@example.com\",\n\"phone\": \"123456789\",\n\"firstName\":
            \"John\",\n\"lastName\": \"Doe\",\n\"displayName\": \"John
            Doe\",\n\"uuid\":
            \"68ddc892-4a07-440a-abcb-45040f940253\",\n\"agreements\":
            {\n\"email\": true\n},\n\"attributes\": {\n\"property1\":
            \"string\"\n},\n\"tags\": [\n\"string\"\n]\n}\n]");

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/clients/batch")
              .post(body)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("Api-Version", "4.0")
              .addHeader("Authorization", "Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ")
              .build();

            Response response = client.newCall(request).execute();
  '/clients/by-custom-id/{id}':
    get:
      tags:
        - client
      summary: Find client by custom ID
      description: >
        Find a client by custom ID. Because it has to be unique, only one client
        could be returned. If no client is

        found, HTTP 404 is returned.
      operationId: endpointClientByCustomIdGet
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: Custom ID
          required: true
          type: string
        - name: Authorization
          in: header
          description: 'JWT token (prepended by the `Bearer: ` string)'
          required: true
          type: string
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Client.ClientView'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/Error403'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/Error404'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
      x-code-samples:
        - lang: Bash
          source: |
            curl --request GET \
              --url https://api.synerise.com/v4/clients/by-custom-id/2543678 \
              --header 'Accept: application/json' \
              --header 'Api-Version: 4.0' \
              --header 'Authorization: Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ' \
              --header 'Content-Type: application/json'
        - lang: PHP
          source: >
            <?php


            $request = new HttpRequest();

            $request->setUrl('https://api.synerise.com/v4/clients/by-custom-id/2543678');

            $request->setMethod(HTTP_METH_GET);


            $request->setHeaders(array(
              'Authorization' => 'Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ',
              'Api-Version' => '4.0',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));


            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: |
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.synerise.com/v4/clients/by-custom-id/2543678")
              .get()
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("Api-Version", "4.0")
              .addHeader("Authorization", "Bearer: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ")
              .build();

            Response response = client.newCall(request).execute();
  '/clients/by-email/{email}':
    get:
      tags:
        - client
      summary: Find client by email
      description: >
        Find a client by email address. Because it has to be unique, only one
        client could be returned. If no client is

        found, HTTP 404 is returned.
      operationId: endpointClientByEmailGet
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: email
          in: path
          description: Email address
          required: true
          type: string
          format: email
        - name: Authorization
          in: header
          description: 'JWT token (prepended by the `Bearer: ` string)'
          required: true
          type: string
        - name: Api-Version
          in: header
          description: 'Requested api version, e.g. `4.0`.'
          required: true
          type: string
        - name: Accept
          in: header
          description: application/json
          required: true
          type: string
        - name: Content-Type
          in: header
          description: application/json
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Client.ClientView'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/Error400'
          headers:
            Application-Version:
              description: 'Current application version, e.g. `4.0.0`.'
              type: string
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error401'
          headers:
            Application-Version:
[...]
